/*	style.css */

@charset "utf-8"

/* 共通の設定 */

#header {
	background-color: white;
	border-radius: 5px;
}

#header > .header-nav > div > ul {
	text-align: center;
}

.header-nav > div >ul > li {
	list-style: none;
	display: inline;
}

#menu {
	background-color: white;
	border-radius: 5px;
	margin-top: 5%;

}

#profile {
	background-color: white;
	border-radius: 5px;
}

#profile > .profile-carrer {

}

#skill {
	background-color: white;
	border-radius: 5px;
	margin-top: 5%;
}
.skill-tag {
	width: 40%;
	padding: 100px 10px;
	box-sizing: border-box;
}

.skill-tag > span {

}
.research {
	background-color: white;
	border-radius: 5px;
	margin-top: 5%;
}

.research > h2 {
	font-size: 21pt;
}
.research > ul > li{
	display: inline;
	list-style: none;
}

.environment {
	background-color: white;
	border-radius: 5px;
	margin-top: 5%;
}

.sns {
	text-align: center;
}

.sns > .twitter {
	background-color: #55acee;
	font-color: white;
	border-radius: 5px;
}

.sns > .facebook {
	background-color: white;
	border-radius: 5px;
}

.sns > .github {
	background-color: white;
	border-radius: 5px;
}

.sns > .qiita {
	background-color: white;
	border-radius: 5px;
}

.sns > .slideshare {
	background-color: white;
	border-radius: 5px;
}

#footer {
	text-align: center;
}

body {
	background-image: url("./image/starbucks.jpg");
	font-family: tahoma;
}

/* スマホの設定 */
/* タブレットの設定*/
@media all and (min-width: 480px) {

}
/* PCの設定 */
@media all and (min-width: 768px) {

}